<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>      @*Get from Index.cshtml file.*@
    <style>
        #mainDiv {
            padding: 20px;
            border: solid medium black;
            font-size: 20pt;
        }
    </style>
</head>
<body>
    <h1>Product Information</h1>
    <div id="mainDiv">
        @RenderBody()      @*Contents of the View page 114.*@
    </div>
</body>
</html>
